{% extends "base.html" %}

{% block title %}{{ site_name }} | Відновлення паролю{% endblock %}

{% block content %}
    <section class="section section-fullheight">
        <div class="container">
            <div class="login-form">
                <p>Ми відправили вам інструкцію для відновлення вашого паролю, якщо вказаний вами email зареєстровано на сайті. Ви отримаєте цей email найближчим часом.</p>
                <p>У випадку якщо ви не отримали email: <b>переконайтесь що ви правильно ввели вашу електронну адресу і що листа нема у папці зі спамом</b>.</p>
            </div>
        </div>
    </section>
{% endblock %}
