{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}{{ site_name }} | Зміна паролю{% endblock %}

{% block content %}
    <section class="section section-fullheight">
        <div class="container">
            <div class="login-form">
                {% if form.errors %}
                    {% include "messages/error.html" with text="Деякі дані введено невірно." %}
                {% endif %}
                <form method="post" class="form" action="{% url 'password_change' %}">
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">{{ form.old_password.label_tag }}</label>
                        <div class="control">
                            {{ form.old_password|add_class:"input" }}
                        </div>
                        {{ form.old_password.errors }}
                    </div>
                    <div class="field">
                        <label class="label">{{ form.new_password1.label_tag }}</label>
                        <div class="control">
                            {{ form.new_password1|add_class:"input" }}
                        </div>
                        {{ form.new_password1.errors }}
                        {% if form.new_password1.help_text %}
                            <div class="help">{{ form.new_password1.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    <div class="field">
                        <label class="label">{{ form.new_password2.label_tag }}</label>
                        <div class="control">
                            {{ form.new_password2|add_class:"input" }}
                        </div>
                        {{ form.new_password2.errors }}
                        {% if form.new_password2.help_text %}
                            <div class="help">{{ form.new_password2.help_text|safe }}</div>
                        {% endif %}
                    </div>
                    <div class="field mt-2">
                        <div class="control">
                            <input type="submit" class="button is-nd" value="Зберегти">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
