{% extends "base.html" %}

{% block title %}{{ site_name }} | Пароль змінено успішно{% endblock %}

{% block content %}
    <section class="section section-fullheight">
        <div class="container">
            <p class="title is-4 has-text-centered ptitle ptitle-mb">Пароль змінено успішно</p>
            <div class="content has-text-centered">
                <p>Повернутись на сторінку <a href="{% url 'account_home' %}">профілю</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}
