{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}{{ site_name }} | Відновлення паролю{% endblock %}

{% block content %}
    <section class="section section-fullheight">
        <div class="container">
            <div class="login-form">
                <p>Забули свій пароль? Введіть вашу електронну пошту і ми відправимо вам інструкцію по відновленню.</p>
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="field mt-2">
                        <label class="label">{{ form.email.label_tag }}</label>
                        <div class="control">
                            {{ form.email|add_class:"input" }}
                        </div>
                        {{ form.email.errors }}
                    </div>
                    <div class="field mt-2">
                        <div class="control">
                            <input type="submit"class="button is-nd" value="Відновити пароль">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
