@import "elements.less";
@import "fonts.less";

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body {
    background: #fff;
}

.loading {
    position: relative;
    min-height: 100px;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(255, 255, 255, .5);
    }
    &::after {
        content: '\e830';
        .fontello();
        position: absolute;
        top: ~"calc(50% - 10px)";
        left: ~"calc(50% - 10px)";
        -webkit-animation: spin 1s linear infinite;
        -moz-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        z-index: 101;
    }
}


.chart {
    &_addtext {
        margin-top: 3rem;
        .level {
            &-item {
                width: 33%;
            }
        }
    }
    &_tonality {
        &_custom {
            min-height: 570px;
        }
    }
}


.custom {
    &_range {
        &_control {
            min-width: 320px;
        }
        &_form {
            margin-bottom: 2rem;
        }
    }
}


.header {
    .logo {
        svg {
            display: block;
            width: 64px;
            height: 64px;
            path {
                will-change: fill;
                -webkit-transition: fill .3s;
                transition: fill .3s;
            }
            &:hover {
                path {
                    fill: #363636;
                }
            }
        }
    }
}
