<header class="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item logo" href="{% url 'home_page' %}">
                    {% include 'elements/logo.html' %}
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="top-menu" id="top-menu-toggle">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="top-menu" class="navbar-menu">
                {% if user.is_authenticated %}
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'custom_range' %}">Графік</a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Джерела</a>
                            <div class="navbar-dropdown">
                                {% for source in sources %}
                                    <a class="navbar-item" href="{% url 'single_source' source.id  %}">{{ source.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <a class="navbar-item" href="{% url 'about' %}">Про нас</a>
                    </div>
                {% endif %}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            {% if user.is_authenticated %}
                                <a class="button is-light" href="{% url 'logout' %}">Вийти</a>
                            {% else %}
                                <a class="button is-light" href="{% url 'login' %}">Увійти</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
