{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="True"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <title>{% block title %}NewsDetect: аналізуємо тональність новин{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'dist/main.css' %}">
        {% block custom_css %}{% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <script>
            const rest_url = "{% url 'rest_api' %}";
        </script>
    </head>
    <body class="fixed-header">
        {% include 'elements/header.html' %}
        {% block content %}{% endblock %}
        {% include 'elements/footer.html' %}
        <script src="{% static 'dist/main.js' %}"></script>
        {% block custom_js %}{% endblock %}
    </body>
</html>
