{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="MobileOptimized" content="width" />
        <meta name="HandheldFriendly" content="True"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="{% block seo_description %}Сервіс NewsDetect в реальному часі збирає інформаційні повідомлення українських ЗМІ та аналізує їх на предмет тональності: негативні, позитивні чи нейтральні{% endblock %}">
        <meta name="keywords" content="новини,тональність,news,tonality,українські,позитивні,негативні,нейтральні,ЗМІ,тональність новин,інформація,аналіз,вплив,влада">
        <meta name="author" content="Andrii Dutchak">
        <title>{% block title %}NewsDetect: аналізуємо тональність новин{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'dist/main.css' %}?v=1.0.0">
        {% block custom_css %}{% endblock %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <script>
            const rest_url = "{% url 'rest_api' %}";
        </script>
    </head>
    <body class="fixed-header">
        {% include 'elements/header.html' %}
        {% block content %}{% endblock %}
        {% include 'elements/footer.html' %}
        <script src="{% static 'dist/main.js' %}?v=1.0.0"></script>
        {% block custom_js %}{% endblock %}
    </body>
</html>
