{% extends "base.html" %}

{% block title %}{{ site_name }} | сторінка джерела {{ title }}{% endblock %}

{% block content %}
    <section class="section is-medium">
        <div class="container">
            <p class="title is-4 has-text-centered ptitle">{{ title }}</p>
            <div class="columns">
                <div class="column is-2">
                    <figure class="image is-128x128 source-image">
                        <img src="{{ source_logo.url }}" alt="{{ title }}" title="{{ title }}" />
                    </figure>
                </div>
                <div class="column is-10">
                    <div class="content">
                        {{ source_desc|linebreaks }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p class="title is-4 has-text-centered ptitle">Тональність джерела за сьогодні</p>
            <canvas id="tonality-graph-today" class="chart chart_tonality_general" data-time="today" data-source="{{ source_id }}" data-title="Середні 200 значень за день"></canvas>
            <div class="chart_addtext">
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Позитивних новин</p>
                            <p class="title"><span id="dnmc_number1" class="dnmc_number" data-targ="{{ today_count_positive }}">0</span></p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Негативних новин</p>
                            <p class="title"><span id="dnmc_number2" class="dnmc_number" data-targ="{{ today_count_negative }}">0</span></p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Нейтральних новин</p>
                            <p class="title"><span id="dnmc_number3" class="dnmc_number" data-targ="{{ today_count_neutral }}">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="level">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Максимальний позитивний індекс</p>
                            <p class="title">{{ today_max_val }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Максимальний негативний індекс</p>
                            <p class="title">{{ today_min_val }}</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Середнє значення індексу</p>
                            <p class="title">{{ today_avarage_val }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <p class="title is-4 has-text-centered ptitle">Останні новини джерела:</p>
            <div class="last_news" id="last_news" data-page="1" data-source="{{ source_id }}">
                <div class="last_news_wrp">
                    {% for item in last_news %}
                        <div class="last_news_item">
                            <p class="last_news_tonality" style="{% if item.tonality_index > 0 %}background-color: #00ff00;{% elif item.tonality_index < 0 %}background-color: #c70000; color: #ffffff;{% else %}background-color: transparent;{% endif %}">{{ item.tonality_index }}</p>
                            <p class="last_news_title"><a target="_blank" href="{{ item.news_item.link }}">{{ item.news_item.title }}</a><span class="last_news_date">{{ item.news_item.date|date:"d/m/Y H:i:s" }}</span></p>
                        </div>
                    {% endfor %}
                </div>
                <button class="last_news_btn button is-nd" id="last_news_more" type="button">Завантажити ще</button>
            </div>
        </div>
    </section>
{% endblock %}
